@model List<HotelResrvation.DAL.Model.BranchTbl>
@{
    ViewBag.Title = "Bigyan";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}

<h2>Branch List</h2>
<h4>@ViewBag.Massage</h4>
<table class="table table-bordered">
    <thead class="bg-info">
        <tr>
            <td>BranchId</td>
            <td>BranchName</td>
            <td>HotelId</td>
            <td>Address</td>
            <td>city</td>
            <td>PhoneNumber</td>
            <td>Action</td>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
<tr>
    <td>@item.BranchId</td>
    <td>@item.BranchName</td>
    <td>@item.HotelId</td>
    <td>@item.Address</td>
    <td>@item.City</td>
<td>@item.PhoneNumber</td>
<td>
    <button class="btn btn-default"><span class="glyphicon glyphicon-eye-open"></span></button>
    <button class="btn btn-primary"><span class="glyphicon glyphicon-pencil"></span></button>
    <button class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span></button>
</td>
</tr>
    }
</table>


